[run]
branch=True
source=wsproto
omit=
  setup.py

[report]
exclude_lines =
  pragma: no cover
  ^def test_
precision = 1

[paths]
source =
    wsproto
    .tox/*/lib/*/site-packages/wsproto
    .tox/*/site-packages/wsproto
