__pycache__
.python-version
.tox
*.egg-info
.cache
.coverage
coverage.xml
*.pyc
*.pyo
.pytest_cache
.mypy_cache
*~
docs/build
build
dist

compliance/reports
compliance/auto-tests-server-config.json
compliance/auto-tests-client-config.json
compliance/autobahntestsuite-venv/
