graft src/wsproto
graft example
graft docs
graft test
graft bench
prune docs/build
include README.rst LICENSE CHANGELOG.rst tox.ini .readthedocs.yaml
global-exclude *.pyc *.pyo *.swo *.swp *.map *.yml *.DS_Store .coverage
