graft compliance
graft example
graft docs
graft test
graft wsproto
prune docs/build
prune compliance/autobahntestsuite-venv
prune compliance/reports
include README.rst LICENSE CHANGELOG.rst tox.ini
global-exclude *.pyc *.pyo *.swo *.swp *.map *.yml *.DS_Store
