name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tox:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version:
        - 3.6
        - 3.7
        - 3.8
        - 3.9
        - pypy3

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install tox
      run: |
        python -m pip install --upgrade pip setuptools
        pip install --upgrade tox tox-gh-actions
    - name: Initialize tox envs
      run: |
        tox --parallel auto --notest
    - name: Test with tox
      run: |
        tox --parallel 0
    - uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml

  autobahn:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        side: [client, server]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install tox
      run: |
        python -m pip install --upgrade pip setuptools
        pip install --upgrade tox
    - name: Initialize tox envs
      run: |
        tox --parallel auto --notest -e autobahn
    - name: Run autobahn
      run: |
        tox --parallel 0 -e autobahn
      env:
        SIDE: ${{ matrix.side }}
